################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EventManagemenet/.vs
/EventManagemenet/bin/Debug/net6.0
/EventManagemenet/obj
/EventManagemenetApp.DataAccess/bin/Debug/net6.0
/EventManagemenetApp.DataAccess/obj
/EventManagemenetApp.EntityFramework/bin/Debug/net6.0
/EventManagemenetApp.EntityFramework/obj
